# Server
SERVER_HOST=0.0.0.0
SERVER_PORT=3000

# Database
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=db
DATABASE_HOST=postgres
DATABASE_PORT=5432

# Telegram Bot
BOT_TOKEN=token

# Base URL
BASE_URL=url

# Backend URL
BACKEND_URL=url

# Channel ID
CHAT_ID=id